* URL       : <%=raw @request.url %>
* IP address: <%=raw @request.remote_ip %>
* Parameters: <%=raw filter_sensitive_post_data_parameters(@request.parameters).inspect %>
* Rails root: <%=raw Rails.root %>
